@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //   =>  c'est faux : int d = ViewData["n2"];
    //  int d = (int)ViewData["n1"]; //casting
    int d = ViewBag.n1;
}

<form method="post">
    <table>
        <tr>
            <td>NO1</td>
            <td><input type="text" name="n1" value="@ViewData["n1"]" /></td>
        </tr>

        <tr>
            <td>NO2</td>
            <td><input type="text" name="n2" value="@ViewData["n2"]" /></td>
        </tr>

        <tr>
            <td> </td>
            <td> <input type="submit" name="b1" value="sum" /></td>
        </tr>

        <tr>
            <td>Result</td>
            <td><input type="text" name="n3" value="@ViewData["sum"]" /></td>
        </tr>

    </table>
</form>

