@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <table>

        <tr>
            <td>NO1</td>
            <td>
                <input type="text" name="n1" value="@TempData["n1"]" />
            </td>
        </tr>

        <tr>
            <td>NO2</td>
            <td>
                <input type="text" name="n2" value="@TempData["n1"]" />
            </td>
        </tr>

        <tr>
            <td>Result</td>
            <td>
                <input type="text" name="n3" value="@TempData["sum"]" />
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" name="b1" value="Back" />
            </td>
        </tr>

    </table>
</form>
